.task {
    width: 100%;
    min-height: 50px;
    padding: 0 .5em;
    border-top: 1px solid $light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625em;
}

.task__content {
    flex-basis: 90%;
    display: flex;
    align-items: center;
    gap: 0.625em;
    word-break: break-all;
}

.task__text {
    width: 100%;
    max-height: 25px;
    font-weight: 400;
    font-size: 1.5em;
    resize: none;
    @include set-bdr-ot;
}

.task__icons {
    display: flex;
    justify-content: center;
    gap: 0.625em;
}

.task__icon {
    display: inline-block;
    cursor: pointer;
}