.task {
    min-height: 50px;
    padding: 0 .5em;
    border-top: 1px solid $light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625em;
}

.task__content {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    gap: 0.625em;
}

.task__icons {
    flex-basis: 20%;
}

.task__icon {
    cursor: pointer;
}