// Font
$font-family: 'Montserrat', sans-serif;
$font-color: #000000;

// Colors
$main-color: #F06529;
$main-color-2: #E34C26;
$light-gray: #EBEBEB;
$dark-cyan-blue: #343A40;
$white: #FFFFFF;

// Alerts colors
$good-alerts: #23C552;
$good-alerts-text: #000000;
$bad-alerts: #D0342C;
$bad-alerts-text: #FFFFFF;